html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin:0;
    padding:0;
}
/** Generales */

div.main-container {
    background-color: whitesmoke;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 75px 1fr 50px;
    grid-template-columns: 100vw;
    justify-content: center;
}
.container {
    width: 90%;
    max-width: 1000px;
    justify-self: center;
}
ul {
    list-style: none;
}
/** Header */

header {
    background-color: #888;
    padding: 10px;
    display: flex;
    justify-content: center;
}
header div.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav.nav-header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.nav-header ul li {
    height: 50px;
    width: fit-content;
    padding: 10px;
    background-color: aqua;
    transition: all .5s ease-out;
}
nav.nav-header ul li:hover {
    background-color: linear-gradient(to bottom, transparent, #090);
    background-color: #090;
    transform: scale(.95);
    cursor: pointer;
}

/** Main */
main {
    padding: 20px;
}
ul.catalogo-general {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
ul.catalogo-general div {
    position: relative;
    overflow: hidden;
}
ul.catalogo-general li img {
    width: 100%;
    transition: all .5s ease-in-out;
}
ul.catalogo-general div:hover img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    transform: scale(1.1);
}
ul.catalogo-general li p {
    width: 100%;
    background-color: #0003;
    text-align: center;
    position: absolute;
    bottom: 43%;
    left: 0;
    padding: 15px 0;
    font-size: 24px;
    color: #e0e0e0;
    letter-spacing: .4em;
}
/** Footer */
footer {
    background-color: #888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer p {
    text-align: center;
}
